// Variables

$white: #fff;
$dark: #101010;
$yellowlight: #feb31d;
$yellowdark: #eba212;

$purplelight: #63528b;
$purpledark: #5c4b85;

$grey: #d1d2d3;


$body: #716a65;

$quicksand: 'Quicksand', sans-serif;
$pacifico: 'Pacifico', cursive;